npm-debug.log
.DS_Store

*.js.map
*.js
!crank-native.webpack.config.js
hooks/*
!hooks/after-createProject/after-createProject.js
lib/
node_modules/
platforms/
tmp/
typings/
.idea
.cloud
.project
.vscode
.npmrc
*.tgz
.awcache
.update_backup